<div class="container">
  <div class="container gx-0">
    <div class="row gx-0">
      <div class="col">
        <div class="row gx-0 p-3">
          <div class="col">
            <h1 class="title p-3">Gesti&#243;n de tipos de cita</h1>
          </div>
          <div class="col btn">
            <button type="button" class="btn btn-primary p-3" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Crear Nuevo tipo de Cita</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-4">
    <table class="table">
      <thead class="table-secondary">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tipo de Cita</th>
          <th scope="col">Descripci&#243;n</th>
          <th scope="col">Duración</th>
          <th scope="col">Color</th>
          <th scope="col">Activa</th>
          <th scope="col">Fecha Creaci&#243;n</th>
          <th scope="col">Fecha Modificaci&#243;n</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="appointmentTypes$ | async as appointmentTypes">
          <tr *ngFor="let item of appointmentTypes">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.duration }}</td>
            <td>
              <span [style.background]="item.color">{{ item.color }}</span>
            </td>
            <td>{{ item.isActived }}</td>
            <td>{{ item.create_date | date: "short" }}</td>
            <td>{{ item.edition_date | date: "short" }}</td>

            <td>
            <div class="row gx-0">
              <div class="col">
                <div class="row gx-3">
                  <div class="col">
                    <a href="#"><img style="width: 40px;" src="/assets/ver.png" alt="Ver"></a>
                  </div>
                  <div class="col">
                    <a href="#"><img style="width: 40px;" src="/assets/editar.png" alt="Editar"></a>
                  </div>
                  <div class="col">
                    <a href="#"><img style="width: 40px;" src="/assets/eliminar.png" alt="Editar"></a>
                  </div>
                </div>
              </div>
            </div>

            </td>

          </tr>
        </ng-container>
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Tipo de Cita</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row gx-0 p-2">
              <div class="col">
                <form>
                  <div class="mb-3">
                    <label for="exampleInput1" class="form-label"><strong>Tipo de Cita*</strong></label>
                    <input type="text" class="form-control" id="exampleInput1" aria-describedby="emailHelp"
                      placeholder="nombre tipo de cita">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInput2" class="form-label"><strong>Descripci&#243;n</strong></label><br>
                    <textarea class="form-control" id="exampleInput2" rows="3" placeholder="descripción"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInput3" class="form-label"><strong>Duraci&#243;n*</strong></label>
                    <input type="number" class="form-control" id="exampleInput3" placeholder="duración">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInput4" class="form-label"><strong>Color*</strong></label>
                    <input type="color" class="form-control" id="exampleInput4">
                  </div>
                  <label for="genero" class="form-label"><strong>Activa*</strong></label>
                  <select class="form-select" aria-label="Default select example" name="generomusical"
                    id="generomusical">
                    <option selected value="1">Si</option>
                    <option value="2">No</option>
                  </select> <br>
                  <div class="mb-3">
                    <label for="exampleInput6" class="form-label"><strong>Fecha Creaci&#243;n*</strong></label>
                    <input type="datetime-local" class="form-control" id="exampleInput6">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInput3" class="form-label"><strong>Fecha Modificaci&#243;n</strong></label>
                    <input type="datetime-local" class="form-control" id="exampleInput3">
                  </div>

                </form>
              </div>
            </div>
          </div>
          <div class="display-flex modal-footer">
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cerrar </button>
            </div>
            <div>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
