.container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px !important;
  margin-top: 5px;
  color: #333;
  font-weight: 700;
}

.btn {
  text-align: right;
}
.btn-primary{
  background: #007abb!important;
}
/*# sourceMappingURL=appointment-types-admin.component.css.map */
