<app-appointment-types-admin></app-appointment-types-admin>

<!---
<h1>Gesti&#243;n de tipos de cita</h1>
<table>
  <td>
    hola
    <tr>Tipo de Cita</tr>
  </td>
  <td>
    <tr>Duraci&#243;n</tr>
  </td>
</table>
<button class="btn btn-danger">Este es mi boton</button>
--->
